@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     8px !default;

$text-color:       #415464 !default;
$background-color: #F3F1ED !default;
$brand-color:      #2a7ae2 !default;
$divider-color:    #E6E4E1;
$negative: #D95B5F;
$negative-light: #FFEDEB;


// Width of the content area
$content-width:    800px !default;


// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials.
@import
  "styling/normalize",
  "styling/base",
  "styling/layout",
  "styling/syntax-highlighting"
;

.container{
  padding: 1rem;
}

.alert-message{
  padding: 1rem;
  border-bottom: 1px solid $negative;
  background-color: $negative-light;
  h2{
    font-size: 1rem;
  }
}

.page-heading{
 text-align: center;
 background-color: #fff;
 margin: 0;
 padding-top: 2rem;
 padding-bottom: 1.5rem;
}

.section-header{
  margin: 0;
  font-size: 14px;
  padding: 2.5rem 1rem 0.5rem 1rem;
}

.nav-link{
  list-style: none;
  margin: 0;
  padding: 0;
  a{
    text-decoration: none;
    background-color: #fff;
    color: $text-color;
    padding: 1rem;
    margin: 0.5rem;
    display: block;
    border: 1px solid $divider-color;
    border-radius: 2rem;
  }
}

.post-header{
  padding: 2rem 1rem 1rem 4rem;
}

.post-title{
  padding: 1rem 1rem 1rem 1rem;
  margin: 0;
  background-color: #CCBAD0;
  color: #965FA2;
  font-size: 1rem;
  border-radius: 2rem 0rem 2rem 2rem;
  opacity: 0;
  animation: fadeinUp 0.5s ease-out 0.1s forwards;
}

.post-content{
  padding: 1rem 1rem 1.5rem 1rem;
  background-color: #fff;
  margin: 1rem;
  border-radius: 0 2rem 2rem 2rem;
  opacity: 0;
  animation: fadeinUp 0.5s ease-out 0.5s forwards;
}

.nav-list{
  ul{
    margin: 0;
    padding: 0;
    animation: fadein 0.5s;
  }
}


.ui-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
  color: #4791AB;
  .svg-icon{
    fill: #4791AB;
  }
}

.more{
  margin: 3.5rem 0 0 0;
  padding: 1rem;
  background-color: #fff;
  text-align: center;
  a{
    text-decoration: none;
  }
  .svg-icon{
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
    margin-bottom: -.1rem;
  }
}


@keyframes fadeinUp {
    from { opacity: 0; transform: translateY(1rem);}
    to   { opacity: 1; transform: translateY(0rem); }
}


@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}
