---
layout: default
---

<div class="home">

  {%- if page.alert -%}
    <div class="alert-message">{{ page.alert }}</div>
  {%- endif -%}

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

<div class="nav-list">
<h2 class="section-header">Subjects</h2>
{{ content }}
</div>
</div>

<div class="more">
  Can’t find a answer to your problem? <br>
  <a href="mailto:alpha.apptest@aditro.com"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#mail' | relative_url }}"></use></svg>Contact us</href>
</div>
